<div class="page-header">
  <h1>Home</h1>
</div>
<div class="jumbotron">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="tag tag-default tag-pill float-xs-right">14</span>
      Cras justo odio
    </li>
    <li class="list-group-item">
      <span class="tag tag-default tag-pill float-xs-right">2</span>
      Dapibus ac facilisis in
    </li>
    <li class="list-group-item">
      <span class="tag tag-default tag-pill float-xs-right">1</span>
      Morbi leo risus
    </li>
  </ul>
</div>
