<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="leftNav" class="navGroup">
    <ul class="navbar-nav">
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/programs">Programs</a>
      </li>
    </ul>
  </div>

  <a class="navbar-brand" href="#">Workout Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navGroup" aria-controls="leftNav rightNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="rightNav" class="navGroup">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/workouts">Workouts</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/exercises">Exercises</a>
      </li>
    </ul>
  </div>

</nav>
